@inherits LayoutComponentBase

@using System.Globalization 
@using Blazored.Toast
@using Blazored.Toast.Configuration
 

<div class="page loginPage IranSansBold PF" style="min-height: 90vh;background-image:url(Images/Login/Login_BG.jpg);    background-size: cover;">
    <div class="main">

        <BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="10"
                        IconType="IconType.FontAwesome"
                        SuccessClass="Success-toast-override"
                        ErrorIcon="fa fa-bug"
                        SuccessIcon="fa fa-thumbs-up" />
        <div class="content p-0">
            @Body

        </div>
    </div>



</div>