@namespace SimpleExpenseManagement.UI.Pages.IndexPage.Body


<div class="row mt-4">
    <DescriptionComponent />
    <NewsComponent />
</div>
<div class="row mt-4">
    <ActiveUsersComponent />
    <SalesOverviewComponent />
</div>
<div class="row my-4">
    <ProjectsComponent />
    <OrdersOverviewComponent />
</div>
<FooterComponent />