<div class="  col-lg-5">
    <div class="  card h-100 p-3">
        <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('../assets/img/ivancik.jpg');">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body position-relative z-index-1 p-3 h-100">
                <div class= "IranSans d-flex flex-column h-100">
                    <h5 class="  text-white font-weight-bolder mb-4 pt-2">خبر</h5>
                    <p class="  text-white mb-5">خبر خبر خبر </p>
                    <a class="text-white font-weight-bold ps-1 mb-0 icon-move-left mt-auto" href="javascript:;">
                        بیشتر
                        <i class="fas fa-arrow-left text-sm ms-1" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>